body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

a {
  color: #aa5c1d;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.weather-container {
  background: white;
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  box-shadow: 0 30px 50px #41326414;
  border-radius: 15px;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 4px;
  width: 84%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background-color: #885df1;
  border: none;
  border-radius: 4px;
  padding: 15px 20px;
  font-size: 16px;
  color: white;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
