body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

.weather-container {
  background: white;
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  box-shadow: 0 30px 50px #41326414;
  border-radius: 15px;
}
